@import "../helpers/vars";

body {
  font-family: $font-circular-book;
  font-weight: normal;
  color: #8795A1;
  @apply bg-grey-lighter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-circular-medium;
  font-weight: normal;
  color: #12283A;
}

.title {
  font-family: $font-circular-medium;
}

a {
  transition: 0.3s all;
  text-decoration: none;
  color: #8795A1;

  &:hover {
    color: $color-blue;
  }
}

.page {
  @apply p-6;

  @include mq_md {
    @apply p-12;
  }
}

.page-title {
  @apply mb-3;
}

.page-subtitle {
  @apply mb-3;
}

pre {
  @apply rounded-lg;
}

.component-docs {
  @apply max-w-3xl mx-auto;

  .docs-section {
    @apply mb-10;

    &:last-of-type {
      @apply mb-0;
    }

    .docs-card {
      .docs-card-content {
        @apply py-5;
      }

      .card-footer {
        .footer-code {
          @apply pt-4 block;
        }

        .icon {
          @apply cursor-pointer text-lg;

          &:hover {
            @apply text-blue;
          }
        }
      }
    }
  }

  h1,
  h3 {
    @apply mb-4;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}

.button-types {
  .ck-button {
    @apply mr-3;
  }
}
