/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
$font-circular-book: 'CircularStd Book', 'helvetica', 'sans-serif';
$font-circular-medium: 'CircularStd Medium', 'helvetica', 'sans-serif';
$font-circular-bold: 'CircularStd Bold', 'helvetica', 'sans-serif';


/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
$mq_sm_endpoint: 576px;
$mq_md_endpoint: 768px;
$mq_lg_endpoint: 992px;
$mq_xl_endpoint: 1200px;
$mq_2xl_endpoint: 1400px;
$mq_3xl_endpoint: 1600px;
