@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hnc1uv');
  src:  url('fonts/icomoon.eot?hnc1uv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hnc1uv') format('truetype'),
    url('fonts/icomoon.woff?hnc1uv') format('woff'),
    url('fonts/icomoon.svg?hnc1uv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align:before {
  content: "\e900";
}
.icon-angle-down:before {
  content: "\e901";
}
.icon-angle-up:before {
  content: "\e902";
}
.icon-apps:before {
  content: "\e903";
}
.icon-arrow-from-right:before {
  content: "\e904";
}
.icon-arrow-growth:before {
  content: "\e905";
}
.icon-calendar-alt:before {
  content: "\e906";
}
.icon-chart-down:before {
  content: "\e907";
}
.icon-chart-line:before {
  content: "\e908";
}
.icon-check:before {
  content: "\e909";
}
.icon-code:before {
  content: "\e90a";
}
.icon-cog:before {
  content: "\e90b";
}
.icon-comment-alt-chart-lines:before {
  content: "\e90c";
}
.icon-comment-alt-image:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-grid:before {
  content: "\e90f";
}
.icon-layers:before {
  content: "\e910";
}
.icon-left-indent:before {
  content: "\e911";
}
.icon-money-insert:before {
  content: "\e912";
}
.icon-navigator:before {
  content: "\e913";
}
.icon-paint-tool:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-question-circle:before {
  content: "\e916";
}
.icon-search:before {
  content: "\e917";
}
.icon-sign-out-alt:before {
  content: "\e918";
}
.icon-star:before {
  content: "\e919";
}
.icon-tachometer-fast:before {
  content: "\e91a";
}
.icon-times:before {
  content: "\e91b";
}
.icon-trophy:before {
  content: "\e91c";
}
